.env
.venv
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

.vscode/
.idea/
*.swp
*.swo
.DS_Store

*.log
textual.log

docker-compose-*.yml
*.tar
/tmp/dpnael_backups/

build/
dist/
*.egg-info/
.eggs/
*.spec